@font-face {
  font-family: 'Gagalin-Regular';
  src: url('../fonts/Gagalin/Gagalin-Regular.woff2') format('woff2'),
  url('../fonts/Gagalin/Gagalin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
  url('../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
  url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-B';
  src: url('../fonts/Ubuntu/Ubuntu-B.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../Ubuntu/Ubuntu-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src: url('../fonts/Lifehack-Medium.woff2') format('woff2'),
  url('../fonts/Lifehack-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



