.teem{
  background: url("../../img/teem-bg.png") no-repeat;
  background-position: 0% 15%;
  background-size: cover;
}
.teem-content{
  float: right;
  width: 50%;
  height: 100%;
  background: #2f3234;
  opacity:.9;
  padding: 110px 115px 110px 80px;
}
.teem-title{
  margin-bottom: 75px;
}